.hide-header .column-header-background {
    visibility: hidden;
}

.wizard {
    -fx-tab-max-height: 0px;
}

.wizard .tab-header-area {
    visibility: hidden;
}

.split-pane *.split-pane-divider {
    -fx-padding: 0 0 0 0;
}

.blue {
    -fx-background-insets: 0.0, 1.0, 2.0;
    -fx-background-radius: 3.0, 2.0, 1.0;
    -fx-min-width: 21px;
    -fx-min-height: 21px;
    -fx-max-width: 21px;
    -fx-max-height: 21px;
    -fx-background-color: skyblue;
    -fx-opacity: 0.7;
}

.red {
    -fx-background-insets: 0.0, 1.0, 2.0;
    -fx-background-radius: 3.0, 2.0, 1.0;
    -fx-min-width: 21px;
    -fx-min-height: 21px;
    -fx-max-width: 21px;
    -fx-max-height: 21px;
    -fx-background-color: red;
    -fx-opacity: 0.7;
}

.orange {
    -fx-background-insets: 0.0, 1.0, 2.0;
    -fx-background-radius: 3.0, 2.0, 1.0;
    -fx-min-width: 15px;
    -fx-min-height: 15px;
    -fx-max-width: 15px;
    -fx-max-height: 15px;
    -fx-background-color: orange;
}

.gray {
    -fx-background-insets: 0.0, 1.0, 2.0;
    -fx-background-radius: 3.0, 2.0, 1.0;
    -fx-min-width: 15px;
    -fx-min-height: 15px;
    -fx-max-width: 15px;
    -fx-max-height: 15px;
    -fx-background-color: gray;
}

.label {
    -fx-text-fill: #2eb4b2;
}

.text-field {
    -fx-opacity: .5;
}

.button {
    -fx-background-color: transparent;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #2eb4b2;
}

.button:hover {
    -fx-background-color: skyblue;
    -fx-opacity: .7;
}

.button:focus {
    -fx-background-color: skyblue;
}

.dialog-pane .header-panel .label {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-alignment: center;
}

.dialog-pane .label {
    -fx-font-size: 15px;
    -fx-font-weight: bold;
}

.dialog-pane .button {
    -fx-background-color: transparent;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #2eb4b2;
}

.dialog-pane .button:hover {
    -fx-background-color: skyblue;
    -fx-opacity: .7;
}

.dialog-pane .button:focus {
    -fx-background-color: skyblue;
}

.mainPanel {
    -fx-background-color: ghostwhite;
    -fx-border-color: skyblue;
    -fx-border-width: .5;
}